header {
    /* width: 33%; */
    text-align: left;
    padding-top: 10px;
    padding-left: 5px;
    /* background: #A5FFD6; */
    /* background: #A5FFD6; */
background: #A5FFD6;
background: -moz-linear-gradient(left, #A5FFD6 0%, #A5FFD6 60%, #FF686B 100%);
background: -webkit-linear-gradient(left, #A5FFD6 0%, #A5FFD6 60%, #FF686B 100%);
background: linear-gradient(to right, #A5FFD6 0%, #A5FFD6 60%, #FF686B 100%);
    color: #FF686B;
    border-radius: 5px;
}
body {
    background-color: #FF686B;
}

label {
    color:#FF686B;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #A5FFD6;
background: -moz-linear-gradient(left, #A5FFD6 0%, #A5FFD6 60%, #FF686B 100%);
background: -webkit-linear-gradient(left, #A5FFD6 0%, #A5FFD6 60%, #FF686B 100%);
background: linear-gradient(to right, #A5FFD6 0%, #A5FFD6 60%, #FF686B 100%);
    margin-bottom: 10px;
    padding-left: 10px;
    border-radius: 30px;
}
input, textarea {
    -webkit-box-shadow: 3px 3px 15px 5px rgba(0,0,0,0.4); 
    box-shadow: 3px 3px 15px 5px rgba(0,0,0,0.4);
}

.journal_forms {
    border: 0px solid black;
    /* padding: 20px; */
    /* width: 33%; */
    display: flex;
    justify-content: column;
    
}

.journal_submit-button {
    justify-content: center;
}