header {
    text-align: left;
    padding-top: 10px;
    padding-left: 5px;
background: lightslategray;
    color: whitesmoke;
    border-radius: 5px;
}
body {
    background-color: whitesmoke;
}

.journal_forms label {
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: lightslategray;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    border-radius: 30px;
    width: 30%;
    box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.4);
}
textarea, input {
    box-shadow: 1px 1px 3px 2px rgba(0,0,0,0.4);
}

.journal_forms {
    border: 0px solid black;
    display: flex;
    justify-content: column;
    
}

.journal_submit-button {
    margin: 20px;
    display: flex;
    justify-content: left;
}

/* .entry_collection {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
} */

/* .entry_collection {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 50%;
} */

.entry {
    text-align: center;
    color: whitesmoke;
    background-color: lightslategray;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.filter_options {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

legend {
    text-align: center;
}